body{
    font-family: 'Inter', sans-serif ;
    margin: 0;
    height: 100vh;
    background: #deebff
}
.modal-container{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e1e1e1e1;
    justify-content: center;
    align-items: center;
    display: none;
}
.close{
    display: flex;
    width: 100%;
    justify-content: end;
}
.close-button{
    cursor: pointer;
    font-size: 20px;
}

.modal-content{
    background-color: #fff;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}

#add-task-form{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    padding-top: 0px;
}

#add-task-form input,select{
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
}
.button{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}
.button button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 18px;
}
.button button:hover{
    transform: scale(1.1);
}
.head{
    margin-top: 10px;

}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 30px 10px;
    gap: 10px;
}
.column{
    background-color: #d8dee6;
    padding: 10px;
    width: 28%;
    border-radius: 15px;
    height: auto;
}

@media (max-width:700px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column{
        width: 90%;
    }
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    padding-top: 0;
    display: flex;
    flex-flow: column;
    gap:10px;

}

.task{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    flex-flow:column wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

}
.priority{
    background-color: tomato;
    padding: 5px;
    color: white;
    border-radius: 8px;
}
.status{
    background-color: rgb(6, 151, 28);
    padding: 5px;
    color: white;
    border-radius: 8px;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border:1px solid rgb(128, 128, 128);
}
.buttons button:hover{
    transform: scale(1.1);
}
.forward{
    justify-content: flex-end;
}
.action{
    display: flex;
    gap: 15px;

}
.action svg{
    cursor: pointer;
}
.action svg:hover{
    transform: scale(1.1);
}

